/* custom.css */
.no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
::-webkit-scrollbar {
    display: none;
}
.btm-nav .menu-horizontal li {
  transition: background-color 0.5s ease-in-out;
}
